@font-face {
  font-family: horizon;
  src: url(fonts/HorizonRounded.otf);
}
body {
  background-image: url("../img/forni-a-legna.jpg");
  background-size: cover;
}

.home-div {
  font-family: "horizon";
  background: #fff9;
  text-align: center;
  margin-top: 15vh;

}

.logo-home {
  width: 70vw;
}

h2 {
  font-size: 3vw;
  color: #720000 !important;
  margin: 0;
  font-weight: bold;
  font-family: "horizon";
}

h3 {
  font-size: 2vw;
  color: #720000 !important;
  margin: 0;
  font-weight: bold;
  font-family: "horizon";
}

.home-link {
  font-size: 3vw;
  color: #c40023;
}
.home-link:hover {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.logo-home {
  width: 100vw;
  max-width: 15vw;
  margin-bottom: 1%;
  height: auto;
}

.beacon {
  width: 100vw;
  max-width: 15vw;
  margin-bottom: 1%;
  height: auto;
}

.ingredients {
  max-height: 30vw;
  width: auto;
}

@media (max-width: 480px) {
  .logo-home {
    max-width: 25vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  .home-link {
    font-size: 4vw;
  }
}

/*# sourceMappingURL=home.css.map */
