@font-face {
  font-family: horizon;
  src: url(fonts/HorizonRounded.otf);
}
@font-face {
  font-family: horizon;
  src: url(fonts/HorizonRounded.otf);
}
.iconDiv {
  margin: 4vh;
}
.iconDiv .fas {
  font-size: 4vh;
  margin-left: 10px;
}
.iconDiv .fas:hover {
  color: #c40023 !important;
  -webkit-animation: swing 1s;
  animation: swing 1s;
}

.input100.stock, .insert-div .login100-form-btn {
  font-size: 1.5vw;
  height: 3vw;
  margin-bottom: 0.5vh;
  width: 40vw;
  padding: 0.5vw;
}

.insert-div {
  align-items: center;
  width: 60vw;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2%;
}

.insert-div i {
  margin-bottom: 1%;
  padding-right: 1%;
  font-size: 2.5vw;
}

.table100 table {
  width: 100%;
}

.table100 table tbody tr:nth-child(even) {
  background-color: #fcbdc8;
}

.table100 table tbody tr:nth-child(odd) {
  background-color: #fff9;
}

.table100 td {
  font-family: "horizon";
  color: black;
  line-height: 1.4;
}

.table100 th {
  font-family: "horizon";
  color: white;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #333333;
}

.table100 .row100 td:hover {
  background-color: #333333;
  color: white;
}

.table100 .row100:hover td {
  background-color: #d6002a;
  color: white;
}

.table100 .column100 {
  width: 40%;
  padding-left: 2.5vw;
}

.table100 .column1 {
  width: 60%;
  padding-left: 4vw;
}

.smallFont {
  font-size: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.large {
  font-size: 4vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.swal2-confirm {
  background-color: red;
}

.swal2-confirm:hover {
  background-color: #c40023;
}

body {
  background-image: url("../img/bg-stock.jpg");
}

.ingredients {
  width: auto;
  max-width: 18vw;
  max-height: 40vh;
  align-items: center;
}

.ingredients:hover {
  -webkit-animation: swing 1s;
  animation: swing 1s;
}

.stockRow {
  padding: 0px !important;
  margin-bottom: -1vh;
  align-items: center;
}

.dg-form, .dg-content-footer {
  background: #fcbdc8 !important;
}

.dg-btn--cancel {
  background-color: #c40023 !important;
}

.dg-btn--ok {
  border-color: #c40023 !important;
  color: #c40023 !important;
}

.stockRow div {
  padding: 1vh;
  text-align: center !important;
  width: 100%;
  background-image: url("../img/bg-stock3.jpg");
  font-size: 150%;
  color: white;
}

@media (max-width: 767px) {
  .ingredients {
    width: 30vw !important;
    max-width: 100vw !important;
    max-height: 20vh;
    border: 0;
  }

  .iconDiv {
    margin: 2vw;
  }
}
@media (max-width: 480px) {
  /*
    .smallFont{
      font-size: 15px !important;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .large{
      font-size: 20px !important;
      padding-top: 2%;
      padding-bottom: 2%;
    }*/
  .input100.stock, .insert-div .login100-form-btn {
    font-size: 3.5vw;
    height: 6vw;
    margin-bottom: 0.5vh;
    width: 60vw;
    padding: 1vw;
  }

  .smallFont {
    font-size: 4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .large {
    font-size: 6vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .insert-div {
    width: 90vw;
  }
}
/*# sourceMappingURL=stock.scss.map */

/*# sourceMappingURL=stock.css.map */
