<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pizza House</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" href="satic/css/all.min.css">
	<link rel="manifest" href="static/manifest.json">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/0b7dcaef34.js"></script>  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/animate.css">

</head>
<body>
<div id="warehouse-app">
	<div class="page-top-area" v-if="logged">
		<!--<div class="logo-nav">-->

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

		  <a class="navbar-brand" href="#"><img class="site-logo animated rotateIn" src="static/img/logoBianco.png" alt="Logo"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
				<div class="user-logged" v-if="logged">
			    <ul class="navbar-nav">
			      <li class="nav-item animated">
			        <a class="nav-link">
								<router-link class="nav-link user" to="/user"> Personal progress </router-link>
							</a>
			      </li>
			      <li class="nav-item animated">
			        <a class="nav-link">
								<router-link class="nav-link ranking" to="/ranking">
									Ranking
								</router-link>
							</a>
			      </li>
						<li class="nav-item animated" v-if="manager">
							<a class="nav-link">
								<router-link class="nav-link orders" to="/orders">
									 Orders
								 </router-link>
							</a>
						</li>

						<li class="nav-item animated" v-if="manager">
							<a class="nav-link">
								<router-link class="nav-link notification" to="/notification">
									 Notifica
								 </router-link>
							</a>
						</li>

			      <li class="nav-item animated">
			        <a class="nav-link" v-on:click="logout">
								<router-link class="nav-link"  to="/">
									Logout
								</router-link>
							</a>
			      </li>
			    </ul>

					<router-link v-if="logged===false && notInLogin" class="nav-link" to="/login">
							<i class="fa fa-sign-in-alt"></i>
					</router-link>


				</div>
		  </div>
		</nav>

	</div>
	<div v-if="logged" class="bar row">
		<router-link class="bar-item col-md-24" to="/ortofrutta" ><div v-on:click="select('Ortofrutta')" class="animated bounceIn"><i class="fas fa-seedling"></i> <span class="type-description"> Ortofrutta</span> </div></router-link>
		<router-link class="bar-item col-md-24" to="/salumiFormaggi" ><div v-on:click="select('SalumiFormaggi')" class="animated bounceIn"><i class="fas fa-cheese"></i><span class="type-description" >Salumi/Formaggi</span> </div></router-link>
		<router-link class="bar-item col-md-24" to="/farinaLievito"><div v-on:click="select('FarinaLievito')" class="animated bounceIn"><i class="fas fa-bread-slice"></i> <span class="type-description"> Farina/Lievito </span> </div></router-link>
		<router-link class="bar-item col-md-24" to="/bibita"><div v-on:click="select('Bibita')" class="animated bounceIn"><i class="fas fa-glass-whiskey"></i> <span class="type-description"> Bibita </span> </div></router-link>
	</div>
	<router-view></router-view>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/404.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/ranking.js"></script>
<script src="/static/js/notification.js"></script>
<script src="/static/js/stock.js"></script>
<script src="/static/js/userProfile.js"></script>
<script src="/static/js/orders.js"></script>
<script src="/static/js/router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/scss"></script>
<script src="/static/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
<link href="/static/vuejs-dialog/dist/vuejs-dialog.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/vuejs-dialog/dist/vuejs-dialog.min.js"></script>
<script type="text/javascript" src="/static/vuejs-dialog/dist/vuejs-dialog-mixin.min.js"></script>
<link rel="stylesheet" href="static/swiper/dist/css/swiper.css"/>
<script type="text/javascript" src="static/swiper/dist/js/swiper.js"></script>
<script type="text/javascript" src="static/vue-awesome-swiper/dist/vue-awesome-swiper.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript">Vue.use(window.VueAwesomeSwiper)</script>
<script>window.Vue.use(VuejsDialog.main.default)</script>
<script src="https://unpkg.com/vue-toasted"></script>
<script>Vue.use(Toasted)</script>
<script src="https://cdn.jsdelivr.net/npm/vue-toast-notification"></script>
<link href="https://cdn.jsdelivr.net/npm/vue-toast-notification/dist/theme-sugar.css" rel="stylesheet">
<link href="/static/v-msg/dist/msg.min.css" rel="stylesheet">
<script type="text/javascript" src="static/v-msg/dist/v-msg.js"></script>
<!-- <script>Vue.use(Msg)</script> -->
<link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
<script src="/socket.io/socket.io.js"></script>

<script>
	var socket = io();
	socket.on('low good', function(data){
 		var nome = data.name;
		var diff = data.stock;
		console.log("prodotto: " + nome + ", quantità da riordinare: " + diff);
		//alert("prodotto: " + nome + ", quantità da riordinare: " + diff);
 });

  var app = new Vue({
		router,
    components: {
			apexchart: VueApexCharts,
		},
		el: "#warehouse-app",
		data: {
			manager: false,
			goods: [],
			notInLogin: true,
			logged: false,
			user: '',
			errorLogin: false,
			stockType: "Ortofrutta",
			//socket: io(),
	  },
		methods: {
	    logout : function(){
				this.logged = false;
				this.notInLogin = true;
				this.manager= false;
	    },
			select : function(type){
				this.stockType=type;
				//console.log("select"+this.stockType);
				//	this.$emit("changeStock", type);
				this.listGoods();
			},

			listGoods: function () {
				axios.post('http://localhost:8080/api/list_goods', {
					type: this.stockType
				})
				.then((response) => {

					//console.log(response.data);
					this.goods = response.data;
					this.$forceUpdate();
				})
				.catch(function (error) {
					console.log(error);
				});
			},
		}

	});
</script>

</body>
</html>
